nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 10px;
  background-color: rgb(22, 21, 21);
}

nav div {
  font-size: 25px;
  background-color: transparent;
  color: aqua;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  background-color: transparent;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.active {
  border-bottom: 2px solid cyan;
}
